@page "/version1"
@inherits VersionComponent

<PageTitle>version1</PageTitle>

<div class="row">
    <div class="col-md-6">
        <Chart Config="RenderChart.PieChartConfig"></Chart>
    </div>
    <div class="col-md-6">
        <Chart Config="RenderChart.BarChartConfig"></Chart>
    </div>
</div>

@foreach (var item in Orders)
{
    <OrderListSetOnParameter @key="item.OrderGuid"
                             OrderGuid="@item.OrderGuid"
                             FirstName="@item.Customer.FirstName"
                             LastName="@item.Customer.LastName"
                             City="@item.Customer.Address.City"
                             Street="@item.Customer.Address.Street"
                             StreetNumber="@item.Customer.Address.StreetNumber"
                             ZipCode="@item.Customer.Address.ZipCode"
                             Country="@item.Customer.Address.Country"
                             PhoneNumber="@item.Customer.PhoneNumber"
                             Email="@item.Customer.Email"
                             IBAN="@item.Customer.IBAN"
                             OrderDate="@item.OrderDate"
                             OrderStatus="@item.OrderStatus"
                             OrderItems="@item.OrderItems">
    </OrderListSetOnParameter>


}

@code {

}
